<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Full House Entertainment</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/css")
    
    <link href="https://fonts.googleapis.com/css?family=Scope+One|Alike+Angular" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        Html.RenderPartial("_TopCarousel");
    }

    <div class="body">
        <nav class="navbar navbar-default top" data-spy="affix">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/site/fhe-logo.png" height="100%" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="https://www.facebook.com/FullHouseEntertainmentofRochesterNY/"><img src="~/Content/images/site/fb.png" height="100%" /></a>
                    <a class="navbar-brand" href="#"><img src="~/Content/images/site/twitter.png" height="100%" /></a>
                    <a class="navbar-brand" href="https://www.instagram.com/full_house_ent/"><img src="~/Content/images/site/instagram.png" height="100%" /></a>
                    <a class="navbar-brand" href="tel:+15857380073">
                        <i class="fa fa-phone-square" aria-hidden="true" style="font-size: 36px; line-height: 30px; color: white;"></i>
                    </a>
                </div>
            </div><!-- /.container -->
        </nav>

        <div class="container">
            @RenderBody()
        </div>

        <nav class="navbar navbar-default bottom">
            <div class="container">
                <div class="navbar-header">
                    Full House Entertainment - Farmington, NY
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="nav navbar-nav navbar-right hidden-xs">
                    All Rights Reserved&nbsp;&nbsp;&copy; @DateTime.Now.Year
                </div>
            </div><!-- /.container -->
        </nav>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
