@using SocialMediaScrapers.Instagram.Model
@using Website.Models

@{
    ViewBag.Title = "Best DJs of Western NY";
    ViewBag.ShowCarousel = true;


    Media weddingCoverImage = ViewBag.WeddingCoverImage;
    Media photoBoothCoverImage = ViewBag.PhotoBoothCoverImage;
    Media corporatePartiesCoverImage = ViewBag.CorporatePartiesCoverImage;
    Media otherServicesCoverImage = ViewBag.OtherServicesCoverImage;
    
    InstagramGallery weddingGallery = ViewBag.WeddingGallery;
    InstagramGallery photoBoothGallery = ViewBag.PhotoBoothGallery;
    InstagramGallery corporatePartiesGallery = ViewBag.CorporatePartiesGallery;
    InstagramGallery otherServicesGallery = ViewBag.OtherServicesGallery;

    List<SocialMediaScrapers.Facebook.Model.Rating> fbRatings = ViewBag.FacebookRatings;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="gold text-center">Full House Entertainment</h1>
        <p class="text-justify">We'll help you plan a reception that is so irresistibly fun that your guests will remember it for a long time to come. <span class="">We know how to read a crowd. We know how to motivate guests of all ages onto the dance floor and keep them there. And best of all, we do it in a way that is classy and will not embarrass you or your guests.</span> <span class="">Our professional MCs will announce all the events of the day with elegance and flair. We will coordinate everything with your other wedding vendors so you don't have to worry about a thing. After the many months of planning, you will actually be able to leave your reception in our experienced hands so you can relax and have fun.</span></p>
    </div>
</div>

<hr class="horizontal-line" />

<div class="row">
    <div class="col-sm-12">
        <h2 class="gold text-center"><em>Our Services</em></h2>

        <div class="row">
            <div class="col-sm-6 service">
                <div>
                    @if (weddingCoverImage != null)
                    {
                        <a href="@Url.Action("Weddings", "Services")" class="thumb">
                            <img src="@weddingCoverImage.Images.LowResolution.Url" align="left" alt="Wedding Services" />
                        </a>
                    }

                    <h3 class="red">Weddings</h3>
                    <div class="price text-justify">We'll help you plan a reception that is so irresistibly fun that your guests will remember it for a long time to come. Our wedding package prices start at $999. Call us today to discuss your upcoming wedding.</div>
                    <div class="learnmore">
                        @if (weddingGallery != null && weddingGallery.MediaItems.Count() > 0)
                        {
                            @Html.Partial("Instagram/_IGGallery", weddingGallery)
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        }
                        <a href="@Url.Action("Weddings", "Services")">Learn more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-6 service">
                <div>
                    @if (photoBoothCoverImage != null)
                    {
                        <a href="@Url.Action("PhotoBooth", "Services")" class="thumb">
                            <img src="@photoBoothCoverImage.Images.LowResolution.Url" align="left" alt="Photo Booth Services" />
                        </a>
                    }

                    <h3 class="red">Photo Booth</h3>
                    <div class="price text-justify">Efficent set up with an on-site attendant to assist. Included is unlimited 3/4/6-Pose B/W or Color Photo strips, personalized graphics on photos, props for added excitement and a scrap book option (additional fees may apply).</div>
                    <div class="learnmore">
                        @if (photoBoothGallery != null && photoBoothGallery.MediaItems.Count() > 0)
                        {
                            @Html.Partial("Instagram/_IGGallery", photoBoothGallery)
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        }                        
                        <a href="@Url.Action("PhotoBooth", "Services")">Learn more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 service">
                <div>
                    @if (corporatePartiesCoverImage != null)
                    {
                        <a href="@Url.Action("CorporateParties", "Services")" class="thumb">
                            <img src="@corporatePartiesCoverImage.Images.LowResolution.Url" align="left" alt="Coporate Parties Services" />
                        </a>
                    }

                    <h3 class="red">Corporate Parties</h3>
                    <div class="price text-justify">Have an upcoming corporate event or holiday party? We'd be able to assist. Our friendly and professional DJs and emcees will engage the crowd.</div>
                    <div class="learnmore">
                        @if (corporatePartiesGallery != null && corporatePartiesGallery.MediaItems.Count() > 0)
                        {
                            @Html.Partial("Instagram/_IGGallery", corporatePartiesGallery)
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        }
                        <a href="@Url.Action("CorporateParties", "Services")">Learn more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-6 service">
                <div>
                    @if (otherServicesCoverImage != null)
                    {
                        <a href="@Url.Action("OtherServices", "Services")" class="thumb">
                            <img src="@otherServicesCoverImage.Images.LowResolution.Url" align="left" alt="Other Services" />
                        </a>
                    }

                    <h3 class="red">Other Services</h3>
                    <div class="price text-justify">Full House Entertainment offers additional services including game shows, video games, fundraising, custom monograms and foam parties. Click below to learn more.</div>
                    <div class="learnmore">
                        @if (otherServicesGallery != null && otherServicesGallery.MediaItems.Count() > 0)
                        {
                            @Html.Partial("Instagram/_IGGallery", otherServicesGallery)
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        }
                        <a href="@Url.Action("OtherServices", "Services")">Learn more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<hr class="horizontal-line" />

<div class="row areas-served">
    <div class="col-sm-12">
        <h2 class="gold text-center"><em>Areas We Serve</em></h2>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    We proudly serve clients in Monroe County, Wayne County and Ontario County.
                </p>
                <p class="learnmore">
                    <a href="#">Check out some of the vendors we work with <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

<hr class="horizontal-line" />

<div class="row contact-us">
    <div class="col-sm-12">
        <h2 class="gold text-center"><em>Contact Us</em></h2>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    Ready to plan your next big event? We're scheduling up for 2017 and want to help make your event a memorable one!
                </p>
                <p class="learnmore">
                    <a href="#">Schedule Your Free Consultation Today <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>



    </div>
</div>

@if (fbRatings != null && fbRatings.Count() > 0)
{
    <hr class="horizontal-line" />

    <div class="row">
        <div class="col-sm-12 testimonials">
            <h2 class="gold text-center"><em>What Others Are Saying</em></h2>

            @foreach (var fbRating in fbRatings)
            {
                <div class="row testimonial">
                    <div class="col-sm-12 comment">
                        <div>
                            <div class="text-justify">@fbRating.ReviewText</div>
                        </div>
                    </div>
                    <div class="col-sm-12 person text-right">
                        @fbRating.Reviewer.Name.GetFirstNameOnly()
                    </div>
                </div>
            }

            <div class="row testimonial">
                <div class="col-sm-12 learnmore text-center">
                    <a href="https://www.facebook.com/FullHouseEntertainmentofRochesterNY">View More Reviews on Facebook <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
            </div>


        </div>
    </div>
}